<!doctype html>
<html>
<head> 
    <title>Peg Pag - {{titulo}}</title>
</head>
<body>
    <div>
        <h2>{{titulo}}</h2>
        <form action="caduser" method="post">
            <p>Nome</p> 
            <input type="text" name="nome"><br>
            <p>Senha</p>
            <input type="text" name="senha"><br>
            <p>Email</p>
            <input type="test" name="email"><br>
            <br>
            <input type="submit" value="Efetuar Cadastro">
            <br>
        </form>   
    </div>  
</body>
</html>