<!doctype html>
<html>
<head> 
    <title>Peg Pag - {{titulo}}</title>
</head>
<body>
    <div>
        <h2>{{titulo}}</h2>
</head>
<body>
    <div>
        <form action="cadanuncio" method="post">
            <p>Anúncio</p> 
            <input type="text" name="anuncio"><br>
            <p>Descrição do anúncio</p>
            <input type="text" name="descr"><br>
            <p>Quantidades</p>
            <input type="test" name="qtde"><br>
            <p>Preço</p>
            <input type="text" name="valor"><br>
            <p>Observação</p>
            <input type="text" name="valor"><br>
            <br>
            <input type="submit" value="Publicar anúncio">
            <br>
        </form>   
    </div>  
</body>
</html>